  body {font-family: Arial;}

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent, .tabcontent_2 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }

  #_Name{
    text-align: left;
    padding-left: 5%;
  }

  #_Date{
    text-align: right;
    padding-right: 44.5%;
  }

  .dir{
   
    display: flex;
    text-align: justify;
    justify-content: flex-start;

    /*margin-bottom: .375rem;*/
    border-bottom: 1px solid gray;
    padding: 4px;
  }

  .dir:hover{
    background-color: #edf6fc;
  }

  .dir .folder{
    width: 4%;
    background-image: url('../icons/php_1.png');
    display: inline-block;

    background-repeat: no-repeat;
  }

  .icon{
    width: 4%;
  }

  @media only screen and (max-width: 1366px){
    .dir .folder{
      width: 7%;
    }

    .icon{
      width: 7%;
    }

    #_Name{
      padding-left: 8%;
    }

    #_Date{
      padding-right: 46%;
    }
  }

  .dir:hover .folder{
    background-image: url('../icons/php_2.png');
  }

  .dir a{
    /*display: inline-block;*/
    margin-top: 0.6rem;
    margin-left: .375rem;
    transition: transform .5s;
    text-decoration: none;
  }

  .dir a:hover{
    transform: translate(0rem, -.25rem);
  }

  .dir .date{
    padding-top: 0.6rem;
    padding-bottom: 0;
    padding-right: 42.8%;
    width: 100%;
    text-align: right;
    color: gray;  
  }

  .hr-99{
    width: 99%;
    float: left;
    border: none;
    height: 1px;

    background-color: #333;
  }

  hr h5{
    margin: 0;
    padding: 0;
  }

  .dir .size{
    margin-right: 2%;
    width: 190px;
    text-align: left;
  }    