

#b2{
	padding-top: 12%;
	display: flex;
	justify-content: center;
	align-content: center;
}

#wrapper {
    font-family:verdana;
    margin: 30px auto ;
    padding: 30px;
    background: #f4f7f8;
    font-size: 14px;
    width:100%;
    max-width:500px;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
    display: block;
    font-size: 16px;
    padding: 13px 0;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}

input{
	width: 100%;
	border-radius: .1rem;
	box-sizing: border-box;
	padding: .25rem;
	box-shadow: 0 0 10px #444;
	border: 1px solid #fff;
}

input[type=text]:hover{
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.25) inset, 0 0 5px rgba(255, 255, 255, 0.4);
}

input[type=submit]{
	text-align: center;
	color: #fff;
	height: 50px;
	padding: 0;
	font-size: 18px;
	text-shadow: 1px 1px 1px #000;
	text-transform: uppercase;
	margin-top: 50px;
	border: 1px solid #000;
	background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b3b3b), color-stop(100%, #000000));
	opacity: 0.5;
}

input[type=submit]:hover{
	color: #ccc;
	cursor: pointer;
	opacity: 0.8;
}